<div class="header">
  <%= link_to root_path do %>
    <%= image_tag("TopHouse_Title.png")  %>
  <% end %>
</div>

<div class=space_maker></div>

<div class=bios>
  <div class=bio_card>
    <h1>Jesse Davis</h1>
    <h3>Guitar, Mandolin, Bass, Percussion, Vocals</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, tempore.</p>
  </div>


  <div class=bio_card>
    <h1>Joseph Larson</h1>
    <h3>Lead Vocals, Guitar, Banjo, Percussion</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus iusto aspernatur a quas, qui quaerat!</p>
  </div>


  <div class=bio_card>
    <h1>William Cook</h1>
    <h3>Violin, Vocals, Percussion</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>

