<div class="header">
    <%= link_to root_path do %>
    <%= image_tag("TopHouse_Title.png")  %>
  <% end %>
</div>

<div class="space_maker"></div>

<div class="animate_ele">
  <div class="say_hello">
    <h1>Say Hello...</h1>
    <h2>tophousetheband@gmail.com</h2>
  </div>
</div>
