<div class="homepage_container">
  <div class="homepage_header">
    <%= image_tag("TopHouse_Title.png")  %>
  </div>
  <div class="homepage_body">
    <%= image_tag("TopHouse_Jesse.png")  %>
    <%= image_tag("TopHouse_Joe.png")  %>
    <%= image_tag("TopHouse_William.png")  %>
  </div>
</div>
