<div class="homepage_container">
  <div class="homepage_header">
    <%= image_tag("TopHouse_Title.png")  %>
  </div>

  <div class="space_maker"></div>

  <div class="homepage_body">
    <div>
      <h1>Music</h1>
      <%= image_tag("TopHouse_Jesse.png", class: "homepage_pics")  %><
    </div>
    <div>
      <h1>Shows</h1>
      <%= image_tag("TopHouse_Joe.png", class: "homepage_pics")  %>
    </div>
    <div>
      <h1>About</h1>
      <%= image_tag("TopHouse_William.png", class: "homepage_pics")  %></div>
  </div>
</div>
