.homepage_container {
  h1 {
    font-size: 60px;
    font-weight: lighter;
    text-shadow: 1px 1px 2px black;
    transition: all 0.5s;
  }
}

.homepage_body {
  display: flex;
  justify-content: center;
  width: 100%;
  //background-color: purple;

  .pics {
    position: relative;
    border: solid black 5px;
    transition-timing-function: ease-in-and-out;
  }

  img {
    transition: all 0.5s;
  }

  .pics:hover img {
    transform: scale(1.02);
    filter: blur(2px);
    opacity: .9;
  }

  .pics:hover h1 {

    text-shadow: 2px 2px 2px black;
  }

  a {
    text-decoration: none;
  }


  .homepage_link_word {
    position: absolute;
    top: 95px;
    left: 100px;
    z-index: 3;
  }
}

