// Overall style

h1, h2, h3, h4, p {
  color: white;
  font-family: "Alegreya Sans SC";
 }

body { background-color: black; }

.space_maker {
  height: 85px;
}


// Specific pages styles
@import "home";
